
:root {
    --red-800:  #991b1b;
    --blue-800: #1e40af;
}

html {
    font-family: 'Roboto';
}

/* NAV ITEM BORDER ON HOVER */
.navlink {
    position: relative;
}
.navlink::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--red-800);
    transition: width 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navlink:hover::after {
    width: 100%;
}
.navlink.active::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
}

#movements::-webkit-scrollbar {
    display: none;
}